body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}

.logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.nazivstudija {
    margin-left: 46%;
    font-size: 173%;

}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

.bannerimeni {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
    clear: both;
}

.prva {
    border-collapse: collapse;
    min-width: 400px;
  

 }

 .naslovprve {
     text-align: center;
     border: black;
     border-collapse: collapse;
     background-color: gray;
 }

 
 .naslovdruge {
    text-align: center;
    border
    : black;
    border-collapse: collapse;
    background-color: gray;
}

.tabela1 {
    border-collapse: collapse;
    border-top: solid 3px black;
    margin-left: 15%;
}

.prvinaslov {
    background-color: gray;
    border-top: solid 3px black;
    text-align: center;
    border-top:solid 3px black;
    border-left:  solid 3px black;
    border-right:  solid 3px black;
}

.druginaslov {
    border-top: solid 3px black;
    text-align: center;
    border-top:solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;
    background-color:gray;
}
.prvired {
    background-color: gray;
    border: solid 3px black;

}

.redovi {
    border:dashed;
}

div>table {
    float: left;
    
  }

.naslovprvegod {
    text-align: center;
}

.prvinaslov {
    background-color: gray;
    border-top: solid 3px black;
    text-align: center;
    border-top:solid 3px black;
    border-left:  solid 3px black;
    border-right:  solid 3px black;
}

.druginaslov {
    border-top: solid 3px black;
    text-align: center;
    border-top:solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;
    background-color:gray;
}
.prvired {
    background-color: gray;
    border: solid 3px black;

}

.redovi {
    border:dashed;
}

.tabela2 {
    border-collapse: collapse;
    border-top: solid 3px black;
    margin-left: 50%;
    margin-top: -24.5%;
}
.naslovprvegod {
    background-color: gray;
    text-align: center;
    border-top: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;
}

.dani {
    background-color: gray;
    border-top: dotted;
    border-right: solid 3px black;
    border-left: solid 3px black;
}

.redine {
    border-right: solid 3px black;
    border-left: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;

}

.tutorijal {
    background-color: lightblue;
    color: darkblue;
    border-right: solid 2px black;

}

.kombinacija {
  color: black;
  background-color: lightgray;
  border-right: solid 2px black;

}

.vjezba {
  background-color: lightgreen;
  color:darkgreen;
  border-right: solid 2px black;

}

.predavanje {
   background-color: #FED8B1;
   color:darkorange;
   border-right: solid 2px black;

}

.vrijeme {
    border-right: solid 3px black;
}

.kolona {
    border-right: dashed;
}

.kolona1 {
    border-right: dashed;
}


.kolona2 {
    border-right: solid 2px black;
    border-top: dotted;
    background-color: gray;
}


li.prvalistaprva::before {
    content: "\1F4BB";
  }

li.prvalistaprvaa::before {
    content: "\1F4D6";
  }

.dani  {
      border-top: none;
  }

  
#myInput{
    margin-top: 30%;
    margin-left: -30%;
}