body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

 
#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }
  
#forma {
    margin-left: 42%;
    height:fit-content;
    align-self: center;
    row-gap: 0px;
    margin-bottom: 0;
}

.posalji {
    color: black; 
    background: lightblue;
    cursor: pointer;
    width: auto;
  }

#dugme {
    margin-left: 40%;
  }

#check1{
    margin-left: 30%;
}

#check11 {
    margin-left: 25%;
}

#check2{
    margin-left: 39.5%;
}

#check22{
    margin-left: 35%;
}

.sadrzaj {
   margin-left: 30%;
}