body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

#logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

#nazivstudija {
    margin-left: 46%;
    font-size: 173%;
}

#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

#tekstopisa{
    margin-left: 30%;
}

#tekstopisa2{
    margin-left: 30%;
}


h1 {
    margin-top: auto;
}


.naslov2 {
    margin:auto;
}

#sadrzaj {
    margin-top: auto;
}