body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 0px;
}

.logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.nazivstudija {
   margin-left: 46%;
   font-size: 173%;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

.bannerimeni {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
}

li.prvalistaprva::before {
    content: "\1F4BB";
  }

li.prvalistaprvaa::before {
    content: "\1F4D6";
  }

.forma {
  
  margin-left: 42%;
  height:fit-content;
  align-self: center;
  row-gap: 0px;
  margin-bottom: 0;

}

.posalji {
  color: black; 
  background: lightblue;
  cursor: pointer;
  width: auto;
}

input, textarea {
  border:0; outline:0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  resize: none;
} 

.dugme {
  margin-left: -40%;
}