
body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr auto auto;
}

.logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.nazivstudija {
    margin-left: 43%;
    font-size: 173%;

}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

.bannerimeni {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
    margin-top: 40%;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr auto ;
    grid-gap: 10px;
}

.imeprezime {
    border-bottom: 3px solid black;
    text-align: center;
    border-top: 3px solid black;
}

.titula {
    border-bottom: black 3px solid;
    text-align: center;

}

.brojkanc {
    border-bottom: black 3px solid;
    text-align: center;

}
.linkovi {
    border-bottom: solid 3px black;
    text-align: center;
}

.vensada {
    width: 108px;
    height: 192px;
}

.vedran {
    width: 108px;
    height: 192px;
}
 .zeljko {
    width: 108px;
    height: 192px;
}

.emir {
    width: 108px;
    height: 192px;
}
 
.prof1 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 2; 
   
}

.prof2 {
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    grid-row-end: 2; 
 

    
}

.prof3 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 2;
    grid-row-end: 3; 
 
  
} 


.prof4 {
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end: 3; 


}

.asis1 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 3;
    grid-row-end: 4;
   
}

}
.asis2 {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 3;
    grid-row-end: 4;
 }

.asis3 {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.mirza {
    width: 108px;
    height: 192px;
}
.irfan {
    width: 108px;
    height: 192px;
}

.emircogo {
    width: 108px;
    height: 192px;
}

.asisa1 {
    background-color: lightgrey;
}

.asisa2 {
    background-color: lightgrey;
}

.asisa3 {
    background-color: lightgrey;
}