body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.nazivstudija {
    margin-left: 46%;
    font-size: 173%;

}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

.bannerimeni {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
    clear: both;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 43%;
}

.slika1 {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 1;
    grid-row-end: 2;
    width:auto ;
    height: auto;
}


.oprema1 {
    grid-column-start: 2 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 2;
}

h1 {
    margin-top: auto;
}

.slika2 {
    grid-column-start: 3 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end: 2;
    width:auto ;
    height: auto;
}

.listaprvegod {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
}

.listadrugegod {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end: 4;
}

.tekstopisa {
    grid-column-start: 2 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end: 4;
}


.slika21 {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 4;
    grid-row-end: 5; 
    width:auto ;
    height: auto;
}

.oprema21 {
    grid-column-start: 2 ;
    grid-column-end:3 ;
    grid-row-start: 4;
    grid-row-end: 5;
}


.slika22 {
    grid-column-start: 3 ;
    grid-column-end:4 ;
    grid-row-start: 4;
    grid-row-end: 5; 
    width:auto ;
    height: auto;
}

.naslov2 {
    margin:auto;
}


.listaprvegod2 {
    grid-column-start: 1 ;
    grid-column-end:2 ;
    grid-row-start: 5;
    grid-row-end: 6;
}

.listadrugegod2 {
    grid-column-start: 1 ;
    grid-column-end: 2 ;
    grid-row-start: 6;
    grid-row-end: 7;
}


.tekstopisa2 {
    grid-column-start: 2 ;
    grid-column-end:4 ;
    grid-row-start: 5;
    grid-row-end: 6;
}
