body {
    background-image: url("https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg");
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr;
}

.logoetf {
    height:45%;
    width:15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
}

.nazivstudija {
    margin-left: 46%;
    font-size: 173%;

}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:white;
    display:inline;


  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  
li a:hover {
    background-color:lightblue;
    color: white;
  }

.bannerimeni {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
    clear: both;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 83%;
}

.FWT {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end:2;
}
.ulfwt {
    list-style: none;
    padding: 0;
  }
.ulfwtli {
    padding: 5px 10px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
  }

.UUP {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end:3;
}
.uluup {
    list-style: none;
    padding: 0;
  }
.uluupli {
    padding: 5px 10px;
    background-color:lightskyblue;
    border: 1px solid #DDDDDD;
  }

  
.MUR1    {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end:4;
}
.ulmur {
    list-style: none;
    padding: 0;
  }
.muri {
    padding: 5px 10px;
    background-color:gray;
    border: 1px solid #DDDDDD;
  }

.obp  {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end:5;
}
.ulobp {
    list-style: none;
    padding: 0;
  }
.obpi {
    padding: 5px 10px;
    background-color:lightblue;
    border: 1px solid #DDDDDD;
  }


  
.bwt  {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end:6;
}
.ulbwt {
  list-style: none;
  padding: 0;
}
.bwti {
  padding: 5px 10px;
  background-color:lightcoral;
  border: 1px solid #DDDDDD;
}

.rs  {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end:7;
}
.ulrs {
  list-style: none;
  padding: 0;
}
.rsi {
  padding: 5px 10px;
  background-color:grey;
  border: 1px solid #DDDDDD;
}
